body {
  font-family: Arial, sans-serif;
  background-color: #1db954;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
}

#music-player {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #1ed760;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(244, 240, 240, 0.2);
}

#playlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

#playlist li {
  cursor: pointer;
  padding: 5px;
}

#playlist li:hover {
  background-color: #1ed760;
}

#playlist li.active {
  background-color: #e0e0e0;
}

#audio-player {
  width: 100%;
  margin-top: 10px;
}
h4{
  color: #ffffff;
}